$containerwidth: 900px;
$baseFontSize: 16px;

//colors
$red: #E01F3D;
$black: #292929;

//nornalize
@import url(./layout/normalize.css);

//setup
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "./layout/layout";


//components
@import "./blocks/hero";
@import "./blocks/header";
@import "./blocks/button";
@import "./blocks/features";
@import "./blocks/why";
@import "./blocks/feedback";
@import "./blocks/interactive-avatar";
@import "./blocks/form";
@import "./blocks/radio";
