@import url(./layout/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "play", "Alegreya Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #666666;
}

button {
  border: 0;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: 1100px;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:before {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -rem(25px);
  right: 13%;
  content: url("../img/Rectangle2.png");
}

.hero__title--section {
  width: 45%;
  height: 14.375rem;
}
@media screen and (max-width: 768px) {
  .hero__title--section {
    width: 100%;
    height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title--section:before {
    content: url(../img/ellipse3.png);
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  background: url(../img/ellipse.png) right 0% bottom 30%/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0rem 4.125rem 5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__feature {
  max-width: 7.8125rem;
}

.hero__main--title {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 1.5625rem;
  line-height: 3.25rem;
}

.hero__subtitle {
  font-size: 1.125rem;
  margin-bottom: 2.25rem;
  width: 75%;
  line-height: 1.5625rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts__phone.header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.64375rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.contacts__phone {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone--icon--elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.button--red {
  background: #E01F3D;
  color: #fff;
}
.button--red:hover {
  color: #E01F3D;
  background: #fff;
}
.button--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  padding-left: 0.9375rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.25rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.why:before {
  position: absolute;
  bottom: -rem(24px);
  left: 3.75rem;
  content: url(../img/red_polygon.png);
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.why__title {
  text-align: center;
  line-height: 3.25rem;
}

.why__headline--title {
  margin-bottom: 1.5625rem;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.why__item::before {
  content: url(../img/Shape.png);
  position: absolute;
  top: 3.4375rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.why__item:first-child {
  margin-left: 0;
}
.why__item:last-child {
  margin-right: 0;
}
.why__item:last-child::before {
  display: none;
}

.why_section {
  text-align: center;
}

.why__image--wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.why__image {
  margin-bottom: 1.5rem;
}

.why__img {
  width: 3.5625rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.why__img--charging {
  width: 2rem;
}

.why__img--noise {
  height: 3.25rem;
}

.why__subtitle {
  text-align: center;
  padding: 0 26%;
}

.why__item--title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 0.4375rem;
}

.why__feature {
  padding: 0 12%;
}

.feedback__section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.9375rem;
  position: relative;
}
.feedback__section:before {
  position: absolute;
  bottom: -rem(37px);
  left: 3.75rem;
  content: url(../img/Ellipse7.png);
}

.feedback__display {
  background: #F8FAF9;
  padding: 2.625rem 2.625rem 2.625rem;
  overflow: hidden;
  position: relative;
}
.feedback__display::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -rem(58px);
  left: 47%;
}

.feedback__title-content {
  text-align: center;
  margin-bottom: 2rem;
}

.feedback__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 21.75rem;
  width: 58.75rem;
}

.feedback__avatar {
  width: 16.5rem;
  height: 15.8125rem;
}

.feedback__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__headline {
  margin-bottom: 1.6875rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
}

.feedback__text {
  line-height: 1.1875rem;
  margin-bottom: 2.375rem;
  width: 31.25rem;
  height: 6.0625rem;
}

.feedback__author {
  font-weight: bold;
  font-size: 1.125rem;
  color: #292929;
}

.feadback__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.9375rem;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.375rem;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: #181818;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order-section--font-color--white {
  color: #fff;
}
.order-section .section__title {
  color: inherit;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.25rem;
  margin-bottom: 3.8125rem;
  line-height: 3.25rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__row-controls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__block-controls {
  margin-bottom: 2.375rem;
}

.form__controls-radio {
  margin-bottom: 1.1875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btns {
  padding-top: 2.875rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/Vector2.png) center center no-repeat;
}
.radio--checkbox .radio__visible:before:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 0.625rem;
  padding-top: 0.1875rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  position: absolute;
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}