.button {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(18px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &--red {
    background: $red;
    color: #fff;

    &:hover { 
      color: $red;
      background: #fff;
    }
  }

  &--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    padding-left: rem(15px);
  }
}


