.feedback__section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: rem(15px) ;
  position: relative;

  &:before {
    position: absolute;
    bottom: -rem(37px);
    left: rem(60px); 
    content: url(../img/Ellipse7.png);
  }
  
}

.feedback__display {
  background: #F8FAF9;
  padding: rem(42px) rem(42px) rem(42px);
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: rem(83px);
    height: rem(83px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -rem(58px);
    left: 47%;
  }
}

.feedback__title-content {
  text-align: center;
  margin-bottom: rem(32px);
}

.feedback__display-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: rem(348px);
  width: rem(940px);
}

.feedback__avatar {
  width: rem(264px);
  height: rem(253px);
}

.feedback__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

.feedback__headline{
  margin-bottom: rem(27px);
  font-weight: bold;
  font-size: rem(24px);
  color: $black;
}

.feedback__text {
  line-height: rem(19px);
  margin-bottom: rem(38px);
  width: rem(500px); 
  height: rem(97px);
}

.feedback__author {
  font-weight: bold;
  font-size: rem(18px);
  color: $black;
}

.feadback__switcher {
  display: flex;
  justify-content: center;
  padding-top: rem(15px);
}