.feedback__section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px ;
  position: relative;

  &:before {
    position: absolute;
    bottom: -37px;
    left: 60px; 
    content: url(../img/Ellipse7.png);
  }
  
}

.feedback__display {
  background: #F8FAF9;
  padding: 42px 42px 42px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 83px;
    height: 83px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -58px;
    left: 47%;
  }
}

.feedback__title-content {
  text-align: center;
  margin-bottom: 32px;
}

.feedback__display-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 348px;
  width: 940px;
}

.feedback__avatar {
  width: 264px;
  height: 253px;
}

.feedback__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

.feedback__headline{
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 24px;
  color: $black;
}

.feedback__text {
  line-height: 19px;
  margin-bottom: 38px;
  width: 500px; 
  height: 97px;
}

.feedback__author {
  font-weight: bold;
  font-size: 18px;
  color: $black;
}

.feadback__switcher {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}