.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__phone.header__phone-number {
  
  @include tablets {
    display: none;
  }
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: rem(26.3px);
  
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.contacts__phone {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contacts__phone--icon--elem { 
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}