.why {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  position: relative;

  &:before {
    position: absolute;
    bottom: rem(-24px);
    left: rem(60px); 
    content: url(../img/red_polygon.png);
  }
}

.why__container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.why__title {
  text-align: center;
  line-height: rem(52px);
}

.why__headline--title {
  margin-bottom: rem(25px);
}

.why__list {
  display: flex;
}

.why__item {
  flex: 1;
  position: relative;

  &::before {
    content: url(../img/Shape.png);
    position: absolute;
    top: rem(55px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;

    &::before{
      display: none;
    }
  }
}

.why_section {
  text-align: center;
}

.why__image--wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.why__image{
  margin-bottom: rem(24px);
}

.why__img {
  width: rem(57px);
  height: rem(60px);
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.why__img--charging {
  width: rem(32px);
}

.why__img--noise {
  height: rem(52px);
}

.why__subtitle {
  text-align: center;
  padding: 0 26%;
}

.why__item--title{
  font-weight: bold;
  font-size: rem(24px);
  color: $black;
  margin-bottom: rem(7px);
}

.why__feature {
  padding: 0 12%;
}